@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Jockey+One&family=Lato:wght@100;300;400;700;900&family=Outfit:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.secondaryFont {
    font-family: poppins;
}

h1 {
    font-family: Jockey One;
}

h2 {
    font-family: Jockey One;
    font-weight: 100;
}

a {
    font-family: Jockey One;
}

@layer utilities {
    .xlarge_card_style {
        @apply xl:h-[auto] xl:w-[auto] xl:rounded-lg xl:py-8 xl:px-24 xl:backdrop-blur-sm xl:border-2 xl:border-slate-600 xl:bg-[#091118] bg-opacity-80;
    }

    .card_style {
        @apply rounded-lg backdrop-blur-sm border-2 border-slate-600 bg-[#091118] bg-opacity-80;
    }
    .img_size {
        max-width: 100%;
        max-height: 100%;
    }
    .travel_card_style {
        @apply rounded-lg backdrop-blur-sm border-2 border-slate-600 bg-[#091118] bg-opacity-80;
    }
    .content_card {
        @apply text-center backdrop-blur-sm border-2 border-slate-600 bg-[#091118] bg-opacity-80 rounded-md;
    }
    p,
    h1,
    h2 {
        @apply tracking-wider;
    }
    .jockey {
        font-family: Jockey One;
    }
}
